{% extends "students/base.html" %}

{% load static %}

{% block meta_title %}Список Груп{% endblock meta_title %}

{% block title %}Список Груп{% endblock title %}


{% block content %}

                 <a href="{% url "students_add" %}"><button type="button" class="btn btn-primary">Додати 
                 Групу</button></a>
                <!-- Start Groups Listing -->
                {% if groups %}
                <table class="table">
                    <thead>
                        <tr>
                            <th><a href="#">#</a></th>
                            <th><a href="#">Назва &uarr;</a></th>
                            <th><a href="#">Староста</a</th>
                            <th>Дії</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for group in groups %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url "groups_edit" group.id %}">{{ group.name }}</td>
                            <td><a href="{% url "students_edit" group.leader.id %}">{{ group.leader.name }}</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" 
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Дія
                                    </button>
                                   <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url "groups_edit" group.id %}">Редагувати</a>
                                    <a class="dropdown-item" href="{% url "groups_delete" group.id %}">Видалити</a>
                                   </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                         
                    </tbody>
                </table>    
                <!-- End Groups Listing -->
                {% else %}
                <p>Поки немає груп у базі</p>
                {% endif %}

               {% include "students/pagination.html" %}
               
            </div>
        </div>
        <!-- End Content Columns -->  

{% endblock content %}      

{% block footer %}{{ block.super }}  Меню Груп {% endblock footer %}
       